/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body{
    margin: 0;
    text-align: center;
}

/* hero section */
.header{
    background-image: url("images/torshov.jpg");
    background-size: cover;
    height: 340px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 0px 0px 2px black;
}

.header h2{
    background: #1D3557;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 16px;
}

.header h3{
    margin-top: 0px;
    border-radius: 10px;
    background: #457B9D;
    padding: 5px 10px;
}

/* activities/ main section */

.main{
    background: #F1FAEE;
    padding: 32px;
    display: flex;
    flex-direction: column;
    color: #1D3557;
}


.main-activities{
    display: flex;
    justify-content: space-around;
    margin: 8px auto ;
}

.activity {
     padding: 8px;
}

.activity img{
    border-radius: 50%;
    width: 100px;
    border: 2px solid #457B9D;
}

.activity img:hover{
    outline: 4px double #1D3557;
}

/* contact / card-section */

.contact{
    padding: 16px;
}

.card{
    width: 400px;
    border: 1px solid ;
    margin: 50px auto;
    display: flex;
    padding: 32px;
    background: #A8DADC;
    border-radius: 10px;
    box-shadow: 0px 6px 0px #1D3557;
    align-items: center;
}

.card-img{
    width: 180px;  
    border-radius: 10px;  
}

.card-text{
    margin-inline-start: auto;
    width: 200px;
    color: #1D3557;
}

.card-text p{
    font-style: italic;
}

/* utility */
.font-24{
    font-size: 24px;
}

.font-16{
    font-size: 16px;
}